<!doctype>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css"></link>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>Paczkomatron 3000</h1>
            <h2>by Jakub Zgagacz</h2>
        </header>
        <nav>
            <a href="/">Strona główna</a>
            <a href="/sender/register">Rejestracja</a>
            <a href="/sender/dashboard">Kokpit</a>
            {% if g.user is none %}
                <a href="/sender/login">Zaloguj</a>
            {% else %}
                <a href="/sender/logout">Wyloguj</a>
            {% endif %}
        </nav>
        <main>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
        <footer>2020r. <a href="https://github.com/jzgagacz/Paczkomatron3000">GitHub</a> <a href="https://damp-castle-13996.herokuapp.com/">Heroku</a></footer>
    </body>
</html>