{% extends 'base.html' %}

{% block head %}
<script src="/static/js/packageform.js" defer></script>
<link rel="stylesheet" href="/static/css/signupform.css"></link>
{% endblock %}

{% block content %}
<h2>Etykiety</h2>
<input type="button" id="showbtn" value="Nowa etykieta">
<form method="POST" action="/sender/dashboard" id ="packageform" class="signupform hidden" enctype="multipart/form-data">
    <ul id="formlist">
        <li><input type="text" id="name" name="name" placeholder="Nazwa adresata" required></li>
        <li><input type="text" id="lockerid" name="lockerid" placeholder="Identyfikator skrytki" required></li>
        <li><input type="text" id="size" name="size" placeholder="Rozmiar paczki" required></li>
        <li><input type="submit" id="submitbtn" value="Dodaj etykietę"></li>
    </ul>
</form>
    {% if labels %}
    <ul>
        {% for label in labels %}
        <li><span id="{{ label }}" class="label">{{ label["pid"] }}</span> 
            {% if not label["_links"].get("package") %}
            <input type="button" class="deletebtn" value="Usuń"> 
            {% endif %}
        </br>
        <span>Nazwa adresata: {{ label["name"] }}</br>
            Skrytka: {{ label["lockerid"] }}</br>
            Rozmiar: {{ label["size"] }}</br>
            Nadana: {% if label["_links"].get("package") %} Tak {% else %} Nie {% endif %}
        </span></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}