.signupform{
    display: block;
}

.signupform h2{
    margin-top: 0px;
}

.signupform ul {
    padding: 0px;
    list-style-type: none;
}

.signupform ul li{
    margin-top: 8px;
}

.error{
    width: fit-content;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color:red;
}

.error.shown {
    margin-top: 0px;
    padding: 2px;
}

.signupform.hidden{
    display: none;
}