body {
    background-color:rgb(179, 214, 255);
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    margin-bottom: 0px;
    padding: 8px;
    background-color: rgb(97, 97, 97);
    color: white;
    text-align: center;
}

main {
    margin: auto;
    width: 60%;
    border: 1px solid grey;
    padding: 10px;
    background-color: white;
}

main p {
    text-align: justify;
}

nav {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px;
    text-align: center;
    background-color: rgb(42, 88, 240);
}

nav a {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid black;
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

.signupform h2{
    margin-top: 0px;
}

.signupform ul {
    padding: 0px;
    list-style-type: none;
}

.signupform ul li{
    margin-top: 8px;
}

.error{
    width: fit-content;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color:red;
}

.error.shown {
    margin-top: 0px;
    padding: 2px;
}