<!doctype>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css"></link>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>Paczkomatron 3000</h1>
            <h2>by Jakub Zgagacz</h2>
        </header>
        <nav>
            <a href="/">Strona główna</a>
            <a href="/sender/sign-up">Rejestracja</a>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>2020r. <a href="https://github.com/jzgagacz/Paczkomatron3000">GitHub</a> <a href="https://fathomless-beyond-00111.herokuapp.com/">Heroku</a></footer>
    </body>
</html>