{% extends 'base.html' %}

{% block head %}
<script src="/static/signupform.js" defer></script>
{% endblock %}

{% block content %}
<form method="POST" action="https://infinite-hamlet-29399.herokuapp.com/sender/register" id ="signupform" class="signupform" enctype="multipart/form-data">
    <h2>Wypełnij poniższy formularz aby zarejestrować się jako nadawca:</h2>
    <ul>
        <li><input type="text" id="firstname" name="firstname" placeholder="Imię"></li>
        <li><input type="text" id="lastname" name="lastname" placeholder="Nazwisko"></li>
        <li><input type="text" id="username" name="username" placeholder="Nazwa użytkownika"></li>
        <li><input type="password" id="password" name="password" placeholder="Hasło"></li>
        <li><input type="password" id="repeatpassword" name="repeatpassword" placeholder="Powtórz hasło"></li>
        <li><label >Zdjęcie: </label><input type="file" id="image" name="image" accept="image/png, image/jpeg"></li>
        <li><input type="button" id="submitbtn" name="submitbtn" value="Zarejestruj"></li>
    </ul>
</form>
{% endblock %}